<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static//jquery-2.1.0.min.js"></script>
    <script src="/static/typeahead.bundle.js"></script>
    <link href="/static/signin.css" rel="stylesheet">
    <link href="/static/typeahead.css" rel="stylesheet">
    <title>bbus.in | BMTC Bus Route Search</title>
</head>
<body>
<div class="container">
     <div class="col-md-3"></div>
     <div class="col-md-6">
          <form>
             <div class="form-group">
                <label for="from">From:</label>
                <div class="js-from">
                    <input type="text" class="typeahead form-control" name="from" placeholder="Start From ..."/>
                </div>
             </div>
             <div class="form-group">
                <label for="to">To:</label>
                <div class="js-to">
                   <input type="text" class="typeahead form-control" name="to" placeholder="Reach to ..."/>
                </div>
             </div>
             <br/><br/>
             <center><button type="submit" class="btn btn-primary btn-lg">Search</button></center>
          </form>
     </div>
     <div class="col-md-3"></div>
</div>
<center><h3>bbus.in <small> BMTC Bus Route Search</small></h3></center>
</body>
<script type="text/javascript">
$(document).ready(function() {

    var bus_stops = new Bloodhound({
      datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name); },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 15,
      prefetch: {
        url: '/static/bus_list.json',
      }
    });

    bus_stops.initialize();
    
    $('.js-to .typeahead').typeahead({
      highlight: true,
     }, {
      name: 'bus_stops',
      displayKey: 'name',
      source: bus_stops.ttAdapter()
    });

    $('.js-from .typeahead').typeahead({
      highlight: true,
    }, {
      name: 'bus_stops',
      displayKey: 'name',
      source: bus_stops.ttAdapter(),
    });



});
</script>
</html>
