<br/><br/>
<center>
	<a class="btn btn-success" href="/static/bbus.apk">
	    Download Android App
	</a>
</center>
<div id="fb-root" style="text-align: center;">
    <br/><br/>
    <!-- Place this tag where you want the +1 button to render. -->
    <iframe src="http://ghbtns.com/github-btn.html?user=vivekchand&repo=bbus.in&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
    <br/><br/>
    <div class="g-plusone" data-size="tall" data-href="http://www.bbus.in/"></div>
    <br/><br/>
    <div class="fb-like" data-href="http://www.bbus.in/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>



